*{margin:0;padding: 0;box-sizing: border-box;}
html{
    margin: 40px;
    background:#eee;}
 body{
    background:grey;
    display: grid;
    justify-content:center;
    padding: 30px;
    font-family: Arial;
 }
 .container{
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap:16px;
    grid-template-areas:"header header header"
                        "sidebar contact_1 contact_1"
                        "sidebar contact_2 contact_3"
                        "footer footer footer"
 }
 .header{
    grid-area: header;
    background:rgb(15, 116, 205);
 }
 .sidebar{
    grid-area:sidebar;
    background:#3edfd7;
 }
 .contact_1{
grid-area: contact_1;
background: #321283;
 }
.contact_2{
grid-area: contact_2;
background: #3217a0;
  }
.contact_3{
grid-area: contact_3;
background: #381d96;
  }
.footer{
   grid-area:footer;
   background: #056fac; 
}
.item{
box-shadow:0 10px 20px rgb(0,0,0,0.2);
color: #fff;
border-radius: 6px;
border: 2px solid #171717;
display: grid;
justify-content:center;
align-items: center;
}
/* MEDIA QUERY */
@media screen and (max-width:780px){
   .container{
      grid-template-areas: "header header header"
                        "sidebar sidebar sidebar "
                        "contact_1 contact_1 contact_1"
                        "contact_2 contact_2 contact_2"
                        "contact_3 contact_3 contact_3"
                        "footer footer footer";
 grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr ; 
 width: 400px;                     
 }
   }
