<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS LAYOUTS</title>
    <link rel="stylesheet" href="../layouts/layout.css">
</head>
<body>
    <header>
        <h1>CSS LAYOUTS-floats</h1>
    </header>
    <section  class="content">
        <h3>NORMAL-FLOW</h3>
          <article class="box1">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quos pariatur. Quo fugit quia obcaecati optio praesentium dolorem ut, quos aut porro provident, amet hic tempora velit natus, sint nulla?</p>
</article>
<article class="box2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quos pariatur. Quo fugit quia obcaecati optio praesentium dolorem ut, quos aut porro provident, amet hic tempora velit natus, sint nulla?</p>
</article>
<article class="box3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quos pariatur. Quo fugit quia obcaecati optio praesentium dolorem ut, quos aut porro provident, amet hic tempora velit natus, sint nulla?</p>
</article>
    </section>
    <footer>
        <p>SOME FOOTER TEXT HERE-WHERE DOES IT SHOW UP</p>
    </footer>
</body>
</html>