<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media queries</title>
    <link rel="stylesheet" href="../layouts/queries.css">
</head>
<body>
    <h1>MEDIA QUERY BREAKPOINT</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, adipisci ut pariatur deserunt temporibus quasi corrupti. Accusantium beatae iure temporibus itaque, animi minima impedit ea laudantium expedita, corporis ad commodi?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, libero dignissimos qui non perferendis corporis voluptates. Consequatur, commodi aliquid dicta, rerum nemo impedit, esse modi illum facere mollitia velit dolorum?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, ea nam nobis aspernatur eos, dolorem perferendis assumenda nulla, molestiae iusto ipsa quasi itaque culpa dolor tempora saepe quas omnis cum!lore
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi similique excepturi dolorum maiores! Animi corporis vel aperiam cumque minus molestias perspiciatis nihil accusamus! Architecto repellendus illum, dolore pariatur harum dolores.
    </p>
</body>
</html>